<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.niitblogsystem.dao.MessagePojoMapper" >
  <resultMap id="BaseResultMap" type="com.niitblogsystem.pojo.MessagePojo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="msgtype" property="msgtype" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="cretime" property="cretime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, msgtype, status, cretime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from bsmessage
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from bsmessage
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.niitblogsystem.pojo.MessagePojo" >
    insert into bsmessage (id, msgtype, status, 
      cretime)
    values (#{id,jdbcType=BIGINT}, #{msgtype,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{cretime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.niitblogsystem.pojo.MessagePojo" >
    insert into bsmessage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="msgtype != null" >
        msgtype,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="cretime != null" >
        cretime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="msgtype != null" >
        #{msgtype,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="cretime != null" >
        #{cretime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.niitblogsystem.pojo.MessagePojo" >
    update bsmessage
    <set >
      <if test="msgtype != null" >
        msgtype = #{msgtype,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="cretime != null" >
        cretime = #{cretime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.niitblogsystem.pojo.MessagePojo" >
    update bsmessage
    set msgtype = #{msgtype,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      cretime = #{cretime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>